{% extends "layout.html" %}
{% block content %}

<div class="dashboard-shell">

    <nav class="dashboard-tabs">
        <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
        <a class="active">EV Smart Routing</a>
        <a href="{{ url_for('main.sales_forecasting') }}">Sales Forecasting</a>
        <a href="{{ url_for('main.parts_procurement') }}">Parts Procurement</a>
        <a href="{{ url_for('main.profile') }}">Profile</a>
    </nav>

    <main class="dashboard-page">
        <h1>EV Smart Routing</h1>
        <div class="route-inputs">
                <div>
                    📍 Start Location
                    <input type="text" id="startInput"
                        placeholder="Enter starting location (e.g. Quezon City)">
                </div>

                <div>
                    🎯 Destination
                    <input type="text" id="destinationInput"
                        placeholder="Enter destination (e.g. Makati)">
                </div>

                <div>
                    🔋 Battery (%)
                    <input type="number" id="batteryInput"
                        min="5" max="100" value="20">
                </div>
                <button id="routeBtn">Start Smart Routing</button>
            </div>
        </div>

        <!-- SMART MAP -->
        <div id="map"></div>

        <!-- SYSTEM DECISION -->
        <div id="routeInfo" class="route-info"></div>
    </main>
</div>

<link rel="stylesheet"
 href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script src="{{ url_for('static', filename='js/ev_map.js') }}"></script>

{% endblock %}